@import '../../assets/colors.scss';
@import '../../assets/fonts.scss';

.create-page {
  text-align: center;
  width: 100%;

  display: flex;

  .create-form--wrapper {
    width: 100%;
    padding: 3px 5px 5px 0;

    .create-form {
      width: 100%;
      max-width: 400px;
      padding: 0 10px;
    }
  }
}