@import '../../assets/fonts.scss';

.edit-page {
  text-align: center;
  width: 100%;

  display: flex;

  .edit-page__content {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    padding-top: 20px;
    width: 100%;

    .edit-page__options {
      width: 200px;
    }

    .edit-form--wrapper {
      width: 100%;
      padding: 3px 5px 5px 0;

      .edit-form {
        width: 100%;
        max-width: 400px;
        padding: 0 10px;
      }
    }
  }
}