.project-summary--wrapper {
  width: 100%;

  .project-summary__days--wrapper {
    padding: 10px 10px;
    width: 100%;
  }

  .project-summary__report {
    padding-top: 10px;

    ul {
      background: #f8f8f8;

      li {
        display: flex;
        justify-content: space-between;

        border-bottom: 1px solid black;
        padding: 10px 20px 5px 15px;

        .project-summary__name {
          font-weight: bold;
        }

        .project-summary__money {
          display: flex;

          .project-summary__money--symbol {
            margin-right: 5px;
          }
        }
      }
    }
  }

  .project-summary__checkbox {
    text-align: right;
    margin: 10px 10px 0 0;
  }
}