@import "../../assets/fonts.scss";
@import '../../assets/size.scss';
@import '../../assets/colors.scss';

.project-page--wrapper {
  text-align: center;
  padding-top: 20px;
  width: 100%;

  .project-page__caption {
    font-weight: bold;

    .project-page__name {
      text-transform: uppercase;
      padding-left: 5px;
    }
  }

  .project-page__days--wrapper {
    margin: 20px 20px 0 20px;
  }

  .employee-cards--wrapper {
    padding: 20px 0;

    .employee-card {
      background: $color-grey;
      border-bottom: 1px solid $color-black;
      padding: 10px 10px 5px;
      text-align: left;
      width: 100%;

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      .employee-card__info {
        display: flex;
        align-items: center;

        .employee-card__name {
          margin-right: auto;
          margin-bottom: 8px;
          text-transform: uppercase;
          text-decoration: underline;
        }

        .employee-card__hours {
          margin-right: 20px;
        }

        .employee-card__salary--wrapper {
          width: 50px;
          margin-right: 10px;
        }

        .employee-card__icon {
          border-radius: 50%;
          color: $color-steelblue;
          cursor: pointer;

          &:hover {
            color: darken($color-steelblue, 20%);
            background: $color-lightblue;
          }

          &:active {
            color: lighten($color-steelblue, 20%);
            background: darken($color-lightblue, 20%);
            transform: translateY(1px);
          }
        }

        .employee-card__icon--rotate {
          transform: rotate(180deg);
          animation-duration: .2s;
          animation-name: rotating-arrow-up;
        }
      }

      .employee-card__kpi {
        font-size: $font-size-mobile-secondary;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .employee-card__kpi-item {
          display: flex;
          align-items: center;

          .employee-card__circle {
            margin-left: 1px;
            margin-right: 5px;
            width: 35px;
          }
        }
      }

      .employee-card__kpi--spinner {
        width: 35px;
        height: 35px;
      }
    }

    .employee-cards__checkbox {
      text-align: right;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}

@keyframes rotating-arrow-up {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@media screen and (min-width: $screen_768) {

}