$font-size-desktop-primary: 16px;
$font-size-desktop-secondary: 14px;
$font-size-desktop-tertiary: 12px;

$font-size-mobile-primary: 14px;
$font-size-mobile-secondary: 12px;
$font-size-mobile-tertiary: 11px;