@import "../../assets/fonts.scss";

.table-wrapper {
  margin-top: .6rem;

  .numeration {
    display: none;
  }

  table {
    border: 0;
    border-collapse: collapse;
    table-layout: fixed;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;

    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      overflow: hidden;
      padding: 0;
      margin: -1px;
      position: absolute;
      width: 1px;
    }

    tr {
      background-color: #f8f8f8;
      border-bottom: 3px solid #ddd;

      display: block;
      padding: .35rem .6rem .35rem .35rem;
      margin-bottom: .625em;
    }

    th, td {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
      padding: .625em;

      &::before {
        content: attr(data-label);
        font-weight: bold;
        float: left;
        text-transform: uppercase;
        margin-right: 2rem;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}


@media screen and (min-width: 768px) {
  .table-wrapper {
    margin-top: 1.3rem;
    padding: .6rem;

    .numeration {
      display: table-cell;
    }

    table {
      border: 1px solid #ccc;
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      table-layout: fixed;
      width: 100%;

      thead {
        border: 1px solid black;
        height: auto;
        margin: 0;
        overflow: inherit;
        position: relative;
        width: auto;
      }

      tr {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        display: table-row;
        padding: .2rem;
        margin-bottom: 0;
      }

      th, td {
        display: table-cell;
        font-size: $font-size-desktop-secondary;
        padding: .2rem;
        text-align: center;
        max-width: 120px;
      }

      th {
        font-size: .85em;
      }

      td {
        &:before {
          content: none;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .table-wrapper {
    table {
      width: auto;

      tr {
        padding: .35rem;
      }

      th, td {
        font-size: 1rem;
        padding: .625rem;
        max-width: 200px;
      }

      th {
        letter-spacing: .1em;
        text-transform: uppercase;
      }
    }
  }
}