.blurred-text--wrapper {
  cursor: pointer;

  .blurred-text__content--visible {
    filter: blur(0px);
    animation-name: blur;
    animation-duration: .2s;
  }

  .blurred-text__content--blurry {
    filter: blur(5px);
  }
}

@keyframes blur {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0px);
  }
}