@import '../../assets/colors.scss';

.bookmarks {
  align-self: flex-start;

  .bookmarks__items {
    border-bottom-right-radius: 10px;

    .bookmarks__item {
      background: lighten($color-lightblue, 15%);
      border-bottom: 1px solid black;
      border-bottom-right-radius: 15px;
      color: $color-blue;
      padding: 10px 5px;
      position: relative;
      width: 30px;
      writing-mode: sideways-lr;

      &:first-child {
        z-index: 11;
      }

      &:last-child {
        border-bottom: none;
        padding-top: 20px;
        top: -15px;
        z-index: 10;
      }

      &:hover,
      &:active {
        .bookmarks__block {
          .bookmarks__title {
            opacity: 1;
          }
        }

        &:hover {
          background-color: lighten($color-lightblue, 5%);

          .bookmarks__block {
            .bookmarks__title {
              color: darken($color-blue, 15%);
            }
          }
        }

        &:active {
          background-color: lighten($color-lightblue, 15%);

          .bookmarks__block {
            .bookmarks__title {
              color: darken($color-blue, 25%);
            }
          }
        }

        .bookmarks__block {
          cursor: pointer;

          .bookmarks__title {
            user-select: none;
            opacity: .7;
          }
        }
      }
    }

    .bookmarks__item--active {
      background-color: $color-lightblue;
      font-weight: bold;

      .bookmarks__block {
        .bookmarks__title {
          opacity: 1;
        }
      }
    }
  }
}