@import '../../assets/fonts.scss';
@import '../../assets/colors.scss';

.btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: .5rem 1rem;
  color: $color-steelblue;

  &:focus {
    outline: none;
  }

  &:hover {
    color: darken($color-steelblue, 20%);
  }

  &:active {
    background: $color-steelblue;
    color: white;
  }
}


@mixin btn-border-draw($color: black, $hover: blue, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: inset 0 0 0 $width $color;
  font-weight: bold;
  transition: color $duration $duration/3;
  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;

    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');

    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');

    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    &::before,
    &::after {
      border-color: $hover;
      width: 100%;
      height: 100%;

      transition: border-color 0s, width $duration, height $duration;
    }

    &::before {
      transition-delay: 0s, 0s, $duration;
    }

    &::after {
      transition-delay: 0s, $duration, 0s;
    }
  }
}

.btn-border {
  @include btn-border-draw($color-blue, $color-steelblue, 2px, bottom, right);
}