.checkbox--wrapper {

  .checkbox__input {
    position: absolute;
    opacity: 0;

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }

    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: white;
      border: 2px solid steelblue;
    }

    &:hover + label:before {
      background: steelblue;
    }

    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    &:checked + label:before {
      background: white;
    }

    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }

    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }

    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: steelblue;
      width: 4px;
      height: 4px;
      box-shadow:
              2px 0 0 steelblue,
              4px 0 0 steelblue,
              4px -2px 0 steelblue,
              4px -4px 0 steelblue,
              4px -6px 0 steelblue,
              4px -8px 0 steelblue;
      transform: rotate(45deg);
    }
  }
}