@import '../../assets/fonts.scss';

.circular-chart {
  display: block;

  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }

  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }

  .circle--default-color {
    stroke: steelblue;
  }
}

.percentage {
  fill: #666;
  font-size: $font-size-mobile-secondary;
  text-anchor: middle;
}

@media screen and (min-width: 768px) {
  .percentage {
    font-size: $font-size-desktop-secondary;
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}