.dual-days__container {
  display: flex;
  align-items: center;

  .dual-days__input-block {
    align-self: flex-start;

    margin-right: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .dual-days__arrow {
      align-self: center;
    }
  }
}