.lds-dual-ring {
  display: inline-block;
  width: 100%;
  height: 100%;;

  &:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;;
    margin: 1px;
    border-radius: 50%;
    border: 3px solid steelblue;
    border-color: #6d7edd transparent #6d7edd transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
