.base-page--wrapper {

  min-height: 93vh;

  .base-page--content {
    display: flex;
    justify-content: center;

    min-height: 90vh;
  }

  @media screen and (min-width: 758px) {
    min-height: 90vh;
  }
}