@import '../../../../assets/fonts';
@import '../../../../assets/colors';

$box-shadow: 0 0 3px $color-steelblue;
$box-shadow-focus: 0 0 5px $color-blue;
$box-shadow-focus-textarea: 0 0 8px $color-blue;
$box-shadow-error: 0 0 5px $color-red;
$box-shadow-error-textarea: 0 0 8px $color-red;

$placeholderColor: silver;
$placeholderFontStyle: italic;

.form-control {
  padding: 20px 3px 3px;
  position: relative;

  .form-control__element {
    position: relative;

    textarea,
    input {
      width: 100%;
      box-shadow: $box-shadow;

      + label {
        color: $placeholderColor;
        font-size: $font-size-mobile-primary;
        font-style: $placeholderFontStyle;
        pointer-events: none;

        position: absolute;
        top: 50%;
        left: 8px;
        transform: translateY(-30%);
      }

      &:focus,
      &:hover {
        box-shadow: $box-shadow-focus;

        + label {
          color: black;
          font-size: $font-size-mobile-secondary;
          top: -40%;
          left: 0;
        }
      }

      &:not(:placeholder-shown) {

        + label {
          color: gold;
          font-size: $font-size-mobile-secondary;
          top: -40%;
          left: 0;
        }
      }
    }

    textarea {
      border: solid 0 transparent;
      height: 60px;

      &:hover,
      &:focus {
        box-shadow: $box-shadow-focus-textarea;
      }
    }
  }
}

.form-control__day--container {

  input {
    &::placeholder {
      color: darken($placeholderColor, 80%);
      font-style: $placeholderFontStyle;
    }
  }
  .form-control__day--overlay {
    background-color: rgba(159, 186, 202, .3);
  }
}

.form-control--error {

  .form-control__span-error {

    span {
      position: absolute;
      top: 3px;
      right: 10px;

      font-size: $font-size-mobile-secondary;
      color: $color-red;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 80%;
      white-space: nowrap;

      &::before {
        content: '*';
      }
    }
  }

  .form-control__element {
    input {
      box-shadow: $box-shadow-error;
    }

    textarea {
      box-shadow: $box-shadow-error-textarea;
    }
  }
}