@import 'assets/fonts.scss';
@import 'assets/size.scss';

body {
  margin: 0;
  min-height: $height-body-mobile;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: $font-size-mobile-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

p { margin: 0; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

*, *:before, *:after { box-sizing: border-box; }


@media screen and (min-width: $screen_768) {

  body {
    font-size: $font-size-desktop-primary;
    min-height: $height-body-desktop;
  }
}
