@import '../../assets/colors.scss';
@import '../../assets/size.scss';

$height-nav-mob: $height-header-mobile * 0.6;
$height-sub-menu-mob: $height-header-mobile * 0.4;

$sub-z-nav: 20;
$sub-menu-z: 10;

.header {
  min-height: $height-header-mobile;

  .nav {
    position: relative;
    z-index: 20;
    background: $color-lightblue;
    height: $height-nav-mob;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .nav__active {
      color: darken($color-blue, 20%);
      text-decoration: underline;
    }

    a {
      color: $color-blue;

      &:hover {
        color: darken($color-blue, 40%);
        font-weight: bold;
      }

      &:active {
        color: $color-steelblue;
        font-weight: bold;
      }

      &:after {
        display: block;
        content: attr(title);
        font-weight: bold;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }
    }
  }

  .fold-out--wrapper {
    z-index: 20;
    position: absolute;
    top: ($height-nav-mob / 2);
    transform: translateY(-50%);
    right: 10px;

    .fold-out__menu {
      cursor: pointer;
      position: relative;
      width: 25px;
      height: 25px;


      span {
        background-color: #fff;
        position: absolute;
        border-radius: 2px;
        left: 0;
        transition: .3s cubic-bezier(.8, .5, .2, 1.4);
        width: 100%;
        height: 4px;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%);
        }

        &:nth-child(3) {
          bottom: 0;
        }
      }

      &:hover {

        .fold-out__line--closed {

          &:nth-child(2) {
            margin: auto;
            left: 0;
            right: 0;
            width: 60%;

            animation-name: rotating-span;
            animation-duration: .3s;
          }
        }
      }

      .fold-out__line--opened {

        &:nth-child(1) {
          transform: rotate(46deg);
          width: 60%;
          top: 50%;
          left: 1px;
        }

        &:nth-child(2) {
          transform: scale(0);
          transition-duration: 50ms;
        }

        &:nth-child(3) {
          transform: rotate(-46deg);
          top: 50%;
          left: 38%;
          width: 60%;
        }
      }
    }
  }

  .sub-menu {
    z-index: 10;

    ul {
      background: lightgrey;
      height: 100%;

      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  .sub-menu--opened,
  .sub-menu--closed {
    animation-duration: .5s;
  }
  .sub-menu--opened {
    animation-name: full-width-slider;
    height: $height-sub-menu-mob;
    transform: translateY(0);
  }

  .sub-menu--closed {
    animation-name: zero-width-slider;
    transform: translateY(-110%);
  }

  a {
    color: $color-blue;

    &:hover {
      color: darken($color-blue, 40%);
      font-weight: bold;
    }

    &:active {
      color: $color-steelblue;
      font-weight: bold;
    }

    &:after {
      display: block;
      content: attr(title);
      font-weight: bold;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
  }
}

@keyframes rotating-span {

  from {
    transform: rotate(0deg) translateY(-50%);
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
  }

  to {
    transform: rotate(360deg) translateY(-50%);
    top: 50%;

    left: 0;
    right: 0;
    margin: auto;
    width: 60%;
  }
}

@keyframes full-width-slider {
  from {
    transform: translateY(-110%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes zero-width-slider {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-110%);
  }
}


@media screen and (min-width: $screen_768) {

  .nav {
    min-height: $height-header-desktop;
    justify-content: left;

    .nav__item {
      margin-left: 40px;
    }
  }
}